/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Mar 12, 2023, 5:19:21 PM
    Author     : pc
*/
#content-bound{
    min-width: 1280px;
    background-image: url("../image/background.jpg");
    background-attachment: fixed;
    position: relative;
    z-index: 2;
}
#second-bound{
    display: flex;
    justify-content: center;
}
#content-sub-bound{
    display: flex;
    flex-direction: column;
    width: 80%;
    min-width: 1280px;
    min-height: 600px;
    max-width: 1530px;
    margin-top: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    border: 1px solid rgb(121, 104, 30);
    border-radius: 25px;
    background: white;
}
.image-gdfsocvnew{
    width: 50px;
}
.num-page-ccwem{
    height: 30px;
    width: 30px; 
    border:1px solid black; 
    display: flex;
    justify-content: center;
    align-items: center;
}