/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Mar 9, 2023, 7:22:12 PM
    Author     : pc
*/

body{
    margin: 0;
}
#content-bound{
    min-width: 1280px;
    background-image: url("../image/background.jpg");
    background-attachment: fixed;
    position: relative;
    z-index: 2;
}
#second-bound{
    display: flex;
    justify-content: center;
}
#content-sub-bound{
    display: flex;
    flex-direction: column;
    width: 80%;
    min-width: 1280px;
    max-width: 1530px;
    margin-top: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    border: 1px solid rgb(121, 104, 30);
    border-radius: 25px;
    background: rgb(243, 243, 243);
}
#password-content{
    width: 120px;
}
#showpassword{
    width: 25px;
    height: 25px;
}
.eyes-gfdsovdxui-svg{
    background: none;
}
#left-nav-bar{
    width: 15%;
    padding-top: 20px;
}
#infor-display-box{
    padding-top: 20px;
    width: 75%;
    height: 100%;
    padding-left: 30px; 
    background: white;
    border-radius: 15px;
}
#decor-bar-dsacxber{
    height: 0.5px;
    width: 90%;
    background: #ccc;
    margin-bottom: 10px;
    margin-top: 10px;
}
.a-text-vcxowe{
    text-decoration: none;
}
#username-display-vcxnzuiew{
    font-size: 1.25rem;
    font-family: sans-serif;
    color: rgb(171,141,66);
    height: 55px;
}
.nav-task-cenoisa{
    margin-bottom: 10px;
    margin-top: 10px;
}
.svg-xzi{
    width: 40px;
    display: flex;
    justify-content: center;
}
.infor-title-cwonz{
    width: 150px;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    color: rgba(85,85,85,.8);
}
.infor-title-bound-dsavc{
    display: flex;
    font-family: sans-serif;
    align-items: center;
}
#main-title-dscewvc{
    font-family: sans-serif;
    font-weight: lighter;
    margin: 0;
    height: 55px;
}
#profile-content-bound-cxsajo{
    width: 70%;
    font-size: 1.25rem;
    margin-top: 30px;
}
#closed-eye-caodsav{
    display: none;
}
.sec-field-cvxz{
    width: 100%;
    justify-content: space-between;
}
.bill-sec-cndsiou{
    font-family: monospace;
    border: 1px dashed black;
    margin-bottom: 20px;
    width: 70%;
    padding-left: 20px;
    padding-right: 20px;
}
.vmnoiedberis{
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.wqsvrerris{
    display: flex;
    align-items: center;
}
.bound-bill-cenosau{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size:1rem;
}
.ask-to-change-cyenmo{
    margin-left: 10px;
}
.ask-to-change-cyenmo:focus{
    display: none;
}
.change-info-fieldsacw{
    display: none;
    margin-left: 170px;
    height: 25px;
}
#sausagecx5a{
    height: 155px;
}
.bvmoenxc{
    display: flex;
    align-items: center;
}
.bvmoenxc p{
    margin: 0;
    width: 250px;
}